 <nav class="navbar navbar-expand-lg navbar-light" id="navbar-main">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="/">
                    <img alt="Image placeholder" src="/images/logo.png" id="navbar-logo">
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Main navigation -->
                    <ul class="navbar-nav w-100 justify-content-center">
                        <li class="nav-item nav-item-spaced d-none d-lg-block">
                            <a class="nav-link" href="/cases">
                                Cases
                            </a>
                        </li>
                    </ul>
                    <!-- Right navigation -->
                    <ul class="navbar-nav ms-auto">
                        <!-- Auth -->
                        <li class="nav-item">
                            <a href="/contact" class="btn btn-sm btn-primary btn-icon ml-3">
                                <span class="btn-inner--text">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>