<!-- Main content -->
<section class="section-half-rounded pt-6 pb-0 pt-lg-6 pb-lg-5">
    <!-- Rounded shape -->
    <div class="jumbotron section-inner right-0 rounded-top-left overflow-hidden col-xl-11"></div>
    <!-- Container -->
    <div class="container pt-lg-5 pb-lg-5 position-relative zindex-100">
        <div class="row align-items-center justify-content-center justify-content-lg-start">
            <div class="col-md-8 col-lg-10 mb-5 mb-lg-0">
                <!-- Heading -->
                <h1 class="h1 text-center text-lg-left mb-4">
                    Cases.
                </h1>
                <!-- Text -->
                <p class="lead text-center text-lg-left opacity-8">
                    Wij hebben softwareoplossingen geleverd die <strong>gebruikerservaringen</strong> verbeteren voor
                    meer dan 150
                    organisaties. Hoe doen we dat? Door te bouwen aan langdurige samenwerkingen en te focussen op
                    resultaten die echt impact maken.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100"
            style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <!-- Container -->
    <div class="container position-relative zindex-100">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="mt-4 mb-6">
                        <h2 class="h1 text-white">
                            Bekijk wat we realiseerden voor andere bedrijven
                        </h2>
                        <!-- Form -->
                        <form class="mt-5">
                            <div class="input-group input-group-lg mb-3">
                                <input class="form-control" type="text">
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="submit" id="button-addon1">Zoek</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice pt-5 pb-7">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="#" class="d-block">
                            <img alt="Image placeholder" src="/images/theme/light/blog-1-800x600.jpg"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <p><span class="badge badge-warning badge-pill">custom-software</span></p>
                        <small class="d-block text-sm mb-2">25 April, 2020</small>
                        <a href="#" class="h5 stretched-link lh-150">Choose the best solution for your business</a>
                        <p class="mt-3 mb-0 lh-170">No matter what he does, every person on earth plays a central role
                            in the history.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="#" class="d-block">
                            <img alt="Image placeholder" src="/images/theme/light/blog-2-800x600.jpg"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <p><span class="badge badge-warning badge-pill">custom-software</span></p>
                        <small class="d-block text-sm mb-2">25 April, 2020</small>
                        <a href="#" class="h5 stretched-link lh-150">How to find the right design for your specific
                            product</a>
                        <p class="mt-3 mb-0 lh-170">No matter what he does, every person on earth plays a central role
                            in the history.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="#" class="d-block">
                            <img alt="Image placeholder" src="/images/theme/light/blog-3-800x600.jpg"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <p><span class="badge badge-warning badge-pill">custom-software</span></p>
                        <small class="d-block text-sm mb-2">25 April, 2020</small>
                        <a href="#" class="h5 stretched-link lh-150">Win buyers and influence sales with marketing</a>
                        <p class="mt-3 mb-0 lh-170">No matter what he does, every person on earth plays a central role
                            in the history.</p>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="#" class="d-block">
                            <img alt="Image placeholder" src="/images/theme/light/blog-4-800x600.jpg"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <p><span class="badge badge-warning badge-pill">custom-software</span></p>
                        <small class="d-block text-sm mb-2">25 April, 2020</small>
                        <a href="#" class="h5 stretched-link lh-150">Choose the best solution for your business</a>
                        <p class="mt-3 mb-0 lh-170">No matter what he does, every person on earth plays a central role
                            in the history.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="#" class="d-block">
                            <img alt="Image placeholder" src="/images/theme/light/blog-5-800x600.jpg"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <p><span class="badge badge-warning badge-pill">custom-software</span></p>
                        <small class="d-block text-sm mb-2">25 April, 2020</small>
                        <a href="#" class="h5 stretched-link lh-150">How to find the right design for your specific
                            product</a>
                        <p class="mt-3 mb-0 lh-170">No matter what he does, every person on earth plays a central role
                            in the history.</p>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="position-relative overflow-hidden">
                        <a href="#" class="d-block">
                            <img alt="Image placeholder" src="/images/theme/light/blog-6-800x600.jpg"
                                class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <p><span class="badge badge-warning badge-pill">custom-software</span></p>
                        <small class="d-block text-sm mb-2">25 April, 2020</small>
                        <a href="#" class="h5 stretched-link lh-150">Win buyers and influence sales with marketing</a>
                        <p class="mt-3 mb-0 lh-170">No matter what he does, every person on earth plays a central role
                            in the history.</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>